<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="menu">
        <ul>
            <li><a href="/">Home</a>
            </li>
            <li><a href="/about">About</a>
            </li>
            <li><a href="/signups/new">Contact</a>
            </li>
        </ul> <img alt="Close" class="icon-close" src="https://stories-rails.herokuapp.com/assets/close-0c9147fa56a8cfd00e1f6b29e91458dc.svg" width="24px" /> 
</div>
<div class="home-main"> <img alt="Open" class="icon-menu" src="https://stories-rails.herokuapp.com/assets/open-9688b19dacd0cc7d027490776ace74ff.svg" width="24px" />

<%= yield %>
   <div class="footer">
        <div class="container">
            <p>A Shutterbugg Project</p>
        </div>
    </div>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
